{% extends 'pokemonApp/base.html' %}

        {% block container %}

        <div class="card">
            <h5 class="card-header">Lista de Pokemons</h5>
            <div class="card-body">
                <div class="table-responsive-md">

                    <table class="table">
                        <thead>
                            <tr>
                                <td>Nombre</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pokemon in pokemones %}
                            <tr>
                                <td><a href="{% url 'pokemon_View' pokemon.id %}"> {{ pokemon.name }} </a></td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>

                </div>

            </div>
        </div>
        {% endblock %}
    






















