{% extends 'pokemonApp/index.html' %}
{% block container %}
<table border="1">
    <thead>
        <tr>
            <td>type</td>
        </tr>
    </thead>
    <tbody>
        {% for pokemontypes in types %}
        <tr>

            <td><a href="{% url 'pokemon_Type' pokemontypes.type.id %}">{{ pokemontypes.type.name }}</a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
<table border="1">
    <thead>
        <tr>
            <td>ability</td>
        </tr>
    </thead>
    <tbody>
        {% for pokemonabi in abilities %}
        <tr>

            <td>{{ pokemonabi.ability.name }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}